<div class="bd bgc-white p-20">
    <div class="layers">
      <div class="layer w-100 mB-10">
        <h6 class="lh-1">Todo List</h6>
      </div>
      <div class="layer w-100">
        <ul class="list-task list-group" data-role="tasklist">
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
              <label for="inputCall1" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Call John for Dinner</span>
              </label>
            </div>
          </li>
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" class="peer">
              <label for="inputCall2" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Book Boss Flight</span>
                <span class="peer">
                  <span class="badge badge-pill fl-r badge-success lh-0 p-10">2 Days</span>
                </span>
              </label>
            </div>
          </li>
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall3" name="inputCheckboxesCall" class="peer">
              <label for="inputCall3" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Hit the Gym</span>
                <span class="peer">
                  <span class="badge badge-pill fl-r badge-danger lh-0 p-10">3 Minutes</span>
                </span>
              </label>
            </div>
          </li>
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall4" name="inputCheckboxesCall" class="peer">
              <label for="inputCall4" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Give Purchase Report</span>
                <span class="peer">
                  <span class="badge badge-pill fl-r badge-warning lh-0 p-10">not important</span>
                </span>
              </label>
            </div>
          </li>
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall5" name="inputCheckboxesCall" class="peer">
              <label for="inputCall5" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Watch Game of Thrones Episode</span>
                <span class="peer">
                  <span class="badge badge-pill fl-r badge-info lh-0 p-10">Tomorrow</span>
                </span>
              </label>
            </div>
          </li>
          <li class="list-group-item bdw-0" data-role="task">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall6" name="inputCheckboxesCall" class="peer">
              <label for="inputCall6" class=" peers peer-greed js-sb ai-c">
                <span class="peer peer-greed">Give Purchase report</span>
                <span class="peer">
                  <span class="badge badge-pill fl-r badge-success lh-0 p-10">Done</span>
                </span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>